$btn-primary-bg: #0079ff;
$btn-primary-hover-bg: #60abff;
$no-result-color: #f74646;

/*==== Light theme colors ====*/
$light-body-bg-color: #f6f8ff;
$light-inner-bg-color: #fefefe;
$light-logo-color: #222731;
$light-secondry-text-color: #697c9a;
$light-secondry-heading-color: #2b3442;
/*==== Dark theme colors ====*/
$dark-body-bg-color: #141d2f;
$dark-inner-bg-color: #1e2a47;
$dark-logo-color: #fff;
$dark-secondry-text-color: #fff;
$dark-secondry-heading-color: #fff;
//shadows
$shadow-2xl: 0 25px 50px -12px rgb(0 0 0 / 0.25);
